*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(141, 97, 182);
}
.container{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: rgb(141, 97, 182);
    min-width: 100vw;
}
.input-holder{
    padding: 20px;
    padding-top: 43vh;
    margin: auto;
    max-width: 700px;
}
.input{
    margin: auto;
    max-width: 500px;
}
.center{
    margin: 20px;
    text-align: center;
    
}

